{% extends "base.html" %}

{# 1. Hide the sidebars ONLY on the Home landing page view #}
{% block left_sidebar %}
  {% if page.title != "Home" %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block right_sidebar %}
  {% if page.title != "Home" %}
    {{ super() }}
  {% endif %}
{% endblock %}

{# 2. Dynamic Content Block Framework #}
{% block content %}
  {% if page.title == "Home" %}
    {# If home, wrap the page cleanly using your marketing styling container #}
    <div class="zensical-landing-wrap">
      {{ page.content }}
    </div>
  {% else %}
    {# If documentation page, render the default look with sidebars perfectly intact #}
    {{ super() }}
  {% endif %}
{% endblock %}

