{% extends "base.html" %}

{# 1. Hide the Left Navigation Sidebar ONLY on the Home Page #}
{% block nav %}
  {% if not page.meta.is_homepage %}
    {{ super() }}
  {% endif %}
{% endblock %}

{# 2. Hide the Right Table of Contents Sidebar ONLY on the Home Page #}
{% block toc %}
  {% if not page.meta.is_homepage %}
    {{ super() }}
  {% endif %}
{% endblock %}

{# 3. Render Page Content Layout #}
{% block content %}
  {% if page.meta.is_homepage %}
    <div class="zensical-landing-wrap">
      {{ page.content }}
    </div>
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}




